/* @import url("https://p.typekit.net/p.css?s=1&k=pmg0dmv&ht=tk&f=54660.54663.54664.54665&a=231592142&app=typekit&e=css"); */

:root {

    /* COLOUR */

    --color-bg-primary: #121c22;
    --color-bg-secondary: #151e26;
    --color-bg-tertiary: #0e1418;
    --color-text-primary: #ffffff;
    --color-text-secondary: #bdbdbf;
    --color-accent: #50f7d1;

    /* FONT */

    --font-family: "figtree", sans-serif;

    --font-size-display-large: 6rem;
    --font-size-display-medium: 3.25rem;
    --font-size-display-small: 2.75rem;
    --font-size-display-xsmall: 2.25rem;
    --font-size-heading-xxlarge: 2.5rem;
    --font-size-heading-xlarge: 2.25rem;
    --font-size-heading-large: 2rem;
    --font-size-heading-medium: 1.75rem;
    --font-size-heading-small: 1.5rem;
    --font-size-heading-xsmall: 1.25rem;
    --font-size-labels-large: 1.125rem;
    --font-size-labels-medium: 1rem;
    --font-size-labels-small: 0.875rem;
    --font-size-labels-xsmall: 0.75rem;
    --font-size-paragraph-large: 1.125rem;
    --font-size-paragraph-medium: 1rem;
    --font-size-paragraph-small: 0.875rem;
    --font-size-paragraph-xsmall: 0.75rem;

    --font-weight-display: 700;
    --font-weight-heading: 700;
    --font-weight-labels: 500;
    --font-weight-paragraph: 400;

    /* SPACING */

    --padding-xlarge: 4rem;
    --padding-large: 3rem;
    --padding-medium: 2.25rem;
    --padding-small: 1.5rem;
    --padding-xsmall: 1rem;
    --padding-xxsmall: 0.75rem;

    --margin-xlarge: 4rem;
    --margin-large: 3rem;
    --margin-medium: 2.25rem;
    --margin-small: 1.5rem;
    --margin-xsmall: 1rem;
    --margin-xxsmall: 0.75rem;

    --gap-xlarge: 4rem;
    --gap-large: 3rem;
    --gap-medium: 2.25rem;
    --gap-small: 1.5rem;
    --gap-xsmall: 1rem;
    --gap-xxsmall: 0.75rem;

    /* CORNER RADIUS */

    --corner-radius-large: 16px;
    --corner-radius-medium: 12px;
    --corner-radius-small: 8px;
    --corner-radius-xsmall: 4px;

    /* BREAKPOINTS */

    --breakpoint-small: 480px;
    --breakpoint-medium: 640px;
    --breakpoint-large: 1024px;
    --breakpoint-xlarge: 1280px;
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

a {
    cursor: pointer;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

#content {
    width: auto !important;
    height: auto !important;
}


/* COMPOSITION */

.container {
    --max-width: 1110px;
    --padding: 1rem;
    max-width: calc(min(var(--max-width), 100% - (var(--padding) * 2)));
    margin-inline: auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto;
    align-content: center;
}

.grid_col_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid_col_flex {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}




body {
    font-family: var(--font-family);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);

}

h1 {
    font-size: var(--font-size-display-large);
    color: var(--color-accent);
    line-height: 1;
    font-weight: var(--font-weight-display);

}

h1+p {
    font-size: var(--font-size-heading-large);
    color: var(--color-text-primary);
}

/* UTILITY CLASSES */

.bg-primary {
    background-color: var(--color-bg-primary);
}

.bg-secondary {
    background-color: var(--color-bg-secondary);
}

.bg-tertiary {
    background-color: var(--color-bg-tertiary);
}

.text-primary {
    color: var(--color-text-primary);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-accent {
    color: var(--color-accent);
}

.rounded-large {
    border-radius: var(--corner-radius-large);
}

.rounded-medium {
    border-radius: var(--corner-radius-medium);
}

.rounded-small {
    border-radius: var(--corner-radius-small);
}

.rounded-xsmall {
    border-radius: var(--corner-radius-xsmall);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: absolute;
}

.navbar .logo {
    height: 48px;
    width: auto;
    z-index: 17;
    position: relative;
    z-index: 25;
}


.nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    z-index: 20;
}

.nav-items>* {
    margin-top: 1rem;
}

.open+.nav-items {
    display: flex;
}

.burger-menu {
    cursor: pointer;
    border: none;
    background-color: inherit;
    position: relative;
    z-index: 25;
}

.burger-line {
    background-color: var(--color-text-primary);
    width: 30px;
    height: 3px;
    margin: 6px 0;
    transition: all 0.3s ease;
}

.line1 {
    transform: translateY(0) rotate(0);
}

.line2 {
    opacity: 1;
}

.line3 {
    transform: translateY(0) rotate(0);
}

.open .line1 {
    transform: translateY(9px) rotate(45deg);

}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        gap: 2rem;
        margin-top: 0;
    }


}

/* Background overlay to increase opacity when nav is open */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 28, 34, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 15;
}

/* Show the overlay when nav is open */
.open~.overlay {
    opacity: 1;
    visibility: visible;
}