package templ

templ About() {
	<div class="grid_col_2" id="about">
		<div
			class="flex flex-col align-middle
        justify-center p-10"
		>
			<h2 class="text-4xl">About me</h2>
			<p>I'm a human called Chris and I like drinking coffee</p>
		</div>
		<div>
			<div class="flex align-middle justify-center">
				<img src="static/images/image-placeholder.jpg" alt=""/>
			</div>
		</div>
	</div>
}
