package templ

import "time"

type BlogPost struct {
	Slug        string
	Title       string
	Description string
	Date        time.Time
	Tags        []string
	ImagePath   string
	Content     string
}

templ Blog(posts []BlogPost) {
	<div class="">
		<h1 class="text-3xl font-bold my-8">Blog Posts</h1>
		<div class="container_grid_col">
			for _, post := range posts {
				@BlogPostCard(post)
			}
		</div>
	</div>
}
