package templ

templ Home() {
	<div>
		<div>
			<h1>Chris Pattison</h1>
			<p>What a bloody nice Website!</p>
			<span>
				<button>Who I am</button>
				<button>What I do</button>
			</span>
		</div>
	</div>
}
