package templ

templ ProjectCard(projects ProjectPost) {
	<div>
		<img src={ projects.ImagePath } alt="project image example"/>
		<h4>{ projects.Title }</h4>
		<p>{ projects.Description }</p>
		<button hx-get="/projectPage">check it out</button>
	</div>
}
