package templ

type ProjectPost struct {
	Slug        string
	Title       string
	Description string
	ImagePath   string
	Content     string
}

templ Projects(projects []ProjectPost) {
	<div class="">
		<h1 class="font-bold my-8">Projects</h1>
		<div class="grid_col_flex">
			for _, project := range projects {
				@ProjectCard(project)
			}
		</div>
	</div>
}
